
.container{
  font-family: sans-serif;
  width: 1360px;
  
  margin-left: 100px;
  margin-right: 100px;
  background-color: white;
}
.head-block-logo{
font-size: 80px;
margin-top: 61px;
margin-left:auto;

margin: 
}

.Ramda{

width: 1280px;
margin: 61px;
margin-left: 0;

}
.Ramda span:nth-child(1){
  color: black;
}
.Ramda span:nth-child(2){
   color: aqua;;
}

.nav-bar-menu{
    height: 81px; 
  background-color: #35444f;
width: 1100px;
margin-left: 180px;
line-height: 81px;
  
}
.nav-bar{
    margin-left: 0;
background-color: #35444f;
   width: 1280px;
   
  height: 81px; 
  line-height: 80px;
}
.nav-bar-link{
  display: inline-block;
  width: auto;
  height: 79px;
  font-size: 24px;
  background-color: #35444f;
  color: white;
  
    line-height: 79px;
  padding-left: 40px;
  padding-right: 40px;
 
}
.nav-bar-link:hover{
  background-color: #222f3a;
  border: 1px solid white;

}

.questions{
  display: inline-block;
margin: 50px;
margin-right: 0;
 vertical-align: top;
 margin-left: auto;
}

.imageramda{
border: 1px solid black;
width: 320px;
height: 381px;
padding-top: 76px;
padding-bottom: 73px;
padding-left: 279px;
padding-right: 279px;
vertical-align: top;
margin-bottom: 50px;
}

.nav-bar-menu2 {
float: left;
width: 344px;
height: 400px;
border: 1px solid black;

}

.nav-bar-link2{
  display: block;
  height: 80px;
  font-size: 29px;
  background-color: #ffffff;
  color: black;
  
  padding-left: 43px;
  padding-right: 10px;
  font-family: sans-serif;
  line-height: 80px;

}

.nav-bar-link2:hover{
  padding-left: 69px;
  background-color: #dbdbdb;
}

.content{
  display: inline-block;
  width: 1600px;
}

.text-block{
  width: 820px;
  height: 95px;
  margin-left: 30px;
  margin-bottom: 30px;
  font-size: 18px;
}

.content2{
  display: inline-block;
  width: 885px;
  height: auto;
  margin: 50px;
}

.nav-bar3{
  background-color: #b4b7ba;
  width: 1280px;
  height: 80px;
line-height: 80px;
}

.nav-bar-link3{
  display: inline-block;
  height: 60px;
  font-size: 28px;
   background-color: #b4b7ba;
  color: black;
  
  
  font-family: sans-serif;
  
padding-left: 11px;
padding-right: 11px;
}

.nav-bar-link3:hover{

  font-size: 28px;
   background-color: #b4b7ba;
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
  
  font-family: sans-serif;
  padding-left: 11px;
padding-right: 11px;

}
.nav-bar-menu3{
  margin-left: 50px;
  width: 1280px;
height: 80px;
}

.text{
  display: inline-block;
  font-size: 24px;
margin-left: 100px;
}